<div class="sidenav-panel-overlay" 
  id="sp-test-overlaybtn"
  onclick={{action 'overlayClick'}}>
</div>
<div class="sidenav-panel row">
  <div class="sidenav-panel-side column">
    <div class="sidenav-panel-side-header">
      <div onclick={{action 'showLeftPanel'}}>
        {{fa-icon 'chevron-left'}}
      </div>
    </div>
    <div class="sidenav-panel-side-body row">
      <div class="sidenav-panel-side-body-container">
        {{#if (eq listMode 'tasks')}}
          {{task-form 
            title="Edit Task"
            task=mode.model
            tags=model.storage.tags
            saveTask=(route-action mode.saveAction)
            completeTask=(route-action 'completeTask')
          }} 
        {{else if (eq listMode "tags")}}
          {{tag-form 
            title="Create Tag"
            colors=model.storage.colors
            tag=mode.model
            completeTag=(route-action 'completeTag')
            saveTag=(route-action mode.saveAction)
          }} 
        {{/if}}
      </div>
    </div>
  </div>
  <div class="sidenav-panel-aside">
    {{sidenav-list 
      model=model
      mode=mode
      showLeftPanel=leftPanel
      listMode=listMode
    }}
    <button {{action 'showLeftPanel'}}>show</button>
  </div>
</div>
