<div class="sidenav-list-header column">
  <div class="sidenav-list-header-header row">
    <h3>
      {{fa-icon 'bars'}}
      {{listMode}}
    </h3>
  </div>
  <div 
    class="sidenav-list-header-body column">
    {{input placeholder="Search"
      id="sl-test-search"
      key-up=(action "searchList")
      type='text' value=search}}
  </div>
  <div
    onclick={{action "showLeftPanel"}}
      class="add-item-container">
    {{fa-icon "plus"}}
  </div>
</div>
<div class="sidenav-list-body">
  {{#if loading}}
    <div class="loading-container">
      <i 
      class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
    </div>
  {{else}} 
    {{#if filteredList}}
      <ul>
        {{#each filteredList as |item|}}
          <li onclick={{action 'toggle' item}}>
            <div>
              <span class="item-name">
                {{item.name}}
              </span>
              <span class="pomodoro-time">
                {{#if item.pomodoros}}
                  {{pomodoro-hours item.pomodoros}}
                {{/if}}
              </span>  
              <span onclick={{action "showLeftPanel" item}}
                class="opt-container">
                {{fa-icon "ellipsis-v"}}
              </span>
            </div>
          </li>
        {{/each}}
      </ul>  
    {{else}}
      <div class="no-result-container">
        <h1>No Items</h1>
      </div>
    {{/if}}
  {{/if}}
</div>
<div class="sidenav-list-footer">
  <div class="sidenav-footer-opts-container">
    <button onclick={{action "changeListMode" "tasks"}}>
      Tasks
    </button> 
    <button onclick={{action "changeListMode" "tags"}}>
      Tags
    </button>
  </div>
</div>
{{yield}}
