<div class="sidenav-list-header column">
  <div class="sidenav-list-header-header row centralized">
    <h3>
      {{fa-icon 'bars'}}
      {{listMode}}
    </h3>
  </div>
  <div 
    class="sidenav-list-header-body column centralized">
    {{input placeholder="Search"
      id="sl-test-search"
      key-up=(action "searchList")
      type='text' value=search}}
  </div>
  <div class="sidenav-list-header-footer row centralized">
    <div class="sidenav-list-header-footer-container">
      <button onclick={{action "showLeftPanel"}}>
        add
      </button>
    </div>
  </div>
</div>
<div class="sidenav-list-body row">
  {{#if loading}}
    <div class="loading-container">
      <i 
      class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
    </div>
  {{else}} 
    {{#if filteredList}}
      <ul>
        {{#each filteredList as |item|}}
          <li class="row" 
            onclick={{action 'toggle' item}}>
              <div class="row">
                <span>
                  {{item.name}}
                </span>
                <span>
                  {{#if item.pomodoros}}
                    {{pomodoro-hours item.pomodoros}}
                  {{/if}}
                </span>  
                <span onclick={{action "showLeftPanel" item}}
                  >
                  {{fa-icon "ellipsis-v"}}
                </span>
              </div>
          </li>
        {{/each}}
      </ul>  
    {{else}}
      <div class="no-result-container">
        <h1>No Items</h1>
      </div>
    {{/if}}
  {{/if}}
</div>
<div class="sidenav-list-footer row">
  <div class="sidenav-list-footer-header">
    <button onclick={{action "showInactive"}}>
      Inactive
    </button> 
  </div>
  <div class="sidenav-list-footer-body">
    <button onclick={{action "changeListMode" "tasks"}}>
      Tasks
    </button> 
    <button onclick={{action "changeListMode" "tags"}}>
      Tags
    </button>
  </div>
</div>
