<div class="sidenav-list-header column">
  <div class="sidenav-list-header-header row">
    <h3>
      {{fa-icon 'bars'}}
      Tasks
    </h3>
  </div>
  <div 
    class="sidenav-list-header-body column">
    {{input placeholder="Search"
      type='text' value=search}}
  </div>
</div>
<div class="sidenav-list-body">
  {{#if loading}}
    <div class="loading-container">
      <i 
      class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
    </div>
  {{else}} 
    {{#if filteredTasks}}
      <ul>
        {{#each filteredTasks as |task|}}
          <li onclick={{action 'toggle' task}}>
            <div>
              <span class="task-name">
                {{task.name}}
              </span>
              <span class="pomodoro-time">
                {{pomodoro-hours task.pomodoros}}
              </span>
              <span onclick={{action "showEditTask" task}}
                class="opt-container">
                {{fa-icon "ellipsis-v"}}
              </span>
            </div>
          </li>
        {{/each}}
      </ul>  
    {{else}}
      <div class="no-result-container">
        <h1>No Tasks</h1>
      </div>
    {{/if}}
  {{/if}}
</div>
<div class="sidenav-list-footer">
  <div class="sidenav-footer-opts-container">
    <button
      onclick={{action "showCreateTask"}}
        class="add-task-container">
      {{fa-icon "plus"}}
      Task
    </button>
    <button
      onclick={{action "showCreateTag"}}>
      {{fa-icon "plus"}}
      Tag
    </button>
  </div>
</div>
{{yield}}
