<div class="tag-form-header row">
  <h3>{{mode}} tag</h3>
  {{#if (eq mode 'edit')}}
    <button
      onclick={{action 'completeTag' tag}}>
      complete
    </button>  
  {{/if}}
</div>
{{#if msgs}}
  <ul data-test-tag-msgs>
    {{#each msgs as |msg|}}
      <li>{{msg}}</li>
    {{/each}}
  </ul> 
{{/if}}
{{input type='text' value=tag.name}}
{{input type='text' value=tag.description}}
{{#dropdown-list items=colors as |color|}}
  {{color-option color=color}}
{{/dropdown-list}}
<button class="button-primary"
  data-test-tag-save
  onclick={{action 'saveTag' tag}}>Save</button>
