<h3>{{mode}} Tag</h3>
{{input type='text' value=tag.name}}
{{input type='text' value=tag.description}}
{{input type='text' value=tag.color}}
<button class="button-primary"
  onclick={{action 'saveTag' tag}}>Save</button>
