<h3>{{title}}</h3>
{{#if msgs}}
  <ul id="tf-test-msgs">
    {{#each msgs as |msg|}}
      <li>{{msg}}</li>
    {{/each}}
  </ul> 
{{/if}}
{{input type='text' value=tag.name}}
{{input type='text' value=tag.description}}
<select id="tf-test-colorList">
  {{#each colors as |color|}}
    <option value={{color.id}}>
      {{color.value}}
      <!--
      <div 
        style="background-color: {{color.value}}"
        class="color-block"></div>
      -->
    </option>
  {{/each}}
</select>
<button class="button-primary"
  id="tf-test-saveButton"
  onclick={{action 'saveTag' tag}}>Save</button>
