<div class="tag-form-header row">
  <h3>{{mode}} tag</h3>
  {{#if (eq mode 'edit')}}
    <button
      onclick={{action 'completeTag' tag}}>
      complete
    </button>  
  {{/if}}
</div>
{{#if msgs}}
  {{#info-card}}
    <ul data-test-tag-msgs>
      {{#each msgs as |msg|}}
        <li>{{msg}}</li>
      {{/each}}
    </ul> 
  {{/info-card}}
{{/if}}
{{input type='text' value=tag.name}}
{{input type='text' value=tag.description}}
<div class="tag-form-add-color-button">
  <button class="button-primary"
    data-test-tag-add-color
    onclick={{action 'addColor'}}>Add Color</button>
</div>
{{#dropdown-list items=colors as |color|}}
  {{color-option color=color}}
{{/dropdown-list}}
<button class="button-primary"
  data-test-tag-save
  onclick={{action 'saveTag' tag}}>Save</button>
