<div class="tasks-sidenav-header column">
  <div class="tasks-sidenav-header-header row">
    <h3>
      {{fa-icon 'bars'}}
      Tasks
    </h3>
  </div>
  <div 
    class="tasks-sidenav-header-body column">
    <div>
      {{input placeholder="Search"
        type='text' value=search}}
    </div>
    
    <div 
      onclick={{action "showCreate"}}
        class="add-task-container">
      {{fa-icon "plus"}}
    </div>
  </div>
</div>
<div class="tasks-sidenav-body">
  {{#if loading}}
    <div class="loading-container">
      <i 
      class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
    </div>
  {{else}} 
    {{#if filteredTasks}}
      <ul>
        {{#each filteredTasks as |task|}}
          <li onclick={{action 'toggle' task}}>
            <div>
              <span class="task-name">
                {{task.name}}
              </span>
              <span class="pomodoro-time">
                {{pomodoro-hours task.pomodoros}}
              </span>
              <span onclick={{action "showEdit" task}}
                class="opt-container">
                {{fa-icon "ellipsis-v"}}
              </span>
            </div>
          </li>
        {{/each}}
      </ul>  
    {{else}}
      <div class="no-result-container">
        <h1>No Tasks</h1>
      </div>
    {{/if}}
  {{/if}}
</div>
<div class="tasks-sidenav-footer">
</div>
