<h3>{{mode}} task</h3>
{{#if msgs}}
  {{#info-card}}
    <ul id="taf-test-msgs">
      {{#each msgs as |msg|}}
        <li>{{msg}}</li>
      {{/each}}
    </ul> 
  {{/info-card}}
{{/if}}
{{input type='text' value=task.name}}
{{input type='text' value=task.description}}
{{#dropdown-list selected=task.tag items=tags as |tag|}}
  <p>{{tag.name}}</p>
{{/dropdown-list}}
<button class="button-primary"
  id="taf-test-saveButton"
  onclick={{action 'saveTask' task}}>Save</button>
