<h3>{{title}}</h3>
{{#if msgs}}
  <ul id="taf-test-msgs">
    {{#each msgs as |msg|}}
      <li>{{msg}}</li>
    {{/each}}
  </ul> 
{{/if}}
{{input type='text' value=task.name}}
{{input type='text' value=task.description}}
{{#dropdown-list items=tags as |tag|}}
  <p>{{tag.name}}</p>
{{/dropdown-list}}
<button class="button-primary"
  id="taf-test-saveButton"
  onclick={{action 'saveTask' task}}>Save</button>
