<div class="tasks-sidepanel-overlay" 
  onclick={{action 'overlayClick'}}>
</div>
<div class="tasks-sidepanel row">
  <div class="tasks-sidepanel-side column">
    <div class="tasks-sidepanel-side-header">
      <div onclick={{action 'showLeftPanel'}}>
        {{fa-icon 'chevron-left'}}
      </div>
    </div>
    <div class="tasks-sidepanel-side-body row">
      <div class="tasks-sidepanel-side-body-container">
        {{#if (eq mode 'editTask')}}
          {{task-form 
            mode="edit" 
            saveTask=(route-action "editTask")
            task=selectedTask}} 
        {{else if (eq mode "createTask")}}
          {{task-form 
            mode="create" 
            saveTask=(route-action "createTask")
            task=newObj
          }} 
        {{else if (eq mode "createTag")}}
          {{tag-form 
            mode="create" 
            saveTag=(route-action "createTag")
            tag=newTag
          }}
        {{else if (eq mode "editTag")}}
          {{tag-form 
            mode="edit" 
            saveTag=(route-action "editTag")
            tag=newTag
          }}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="tasks-sidepanel-aside">
    {{tasks-sidenav 
      showCreateTask=(action "showCreateTask")
      showEditTask=(action "showEditTask") 
      showCreateTag=(action "showCreateTag")
      model=model }}
    <button {{action 'showLeftPanel'}}>show</button>
  </div>
</div>
