<div class="tasks-sidepanel-overlay" 
  onclick={{action 'overlayClick'}}>
</div>
<div class="tasks-sidepanel row">
  <div class="tasks-sidepanel-side column">
    <div class="tasks-sidepanel-side-header">
      <div onclick={{action 'showLeftPanel'}}>
        {{fa-icon 'chevron-left'}}
      </div>
    </div>
    <div class="tasks-sidepanel-side-body row">
      <div class="tasks-sidepanel-side-body-container">
        {{#if selectedTask}}
          {{task-form 
            create=(route-action "create") 
            edit=(route-action "edit")
            task=selectedTask}} 
        {{/if}}
      </div>
    </div>
  </div>
  <div class="tasks-sidepanel-aside">
    {{tasks-sidenav 
      showCreate=(action "showCreate")
      showEdit=(action "showEdit") 
      model=model }}
    <button {{action 'showLeftPanel'}}>show</button>
  </div>
</div>
