{{tasks-sidenav openSidenav=openSidenav tasks=model.tasks}}

<div {{action 'showSidenav'}} class="tasks-button">
  {{fa-icon 'bars'}}
</div>

<div class="root-div column">
  <div class="app-header row">
    <div class="app-header-side row">
      <ul class="menu-options">
        <li>
          {{#link-to 'main' }}
            {{fa-icon 'home'}}
          {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="app-header-main">
    </div>
    <div class="app-header-aside row">
      <ul class="menu-options">
        {{#each links as |item|}}
          <li>
            {{#link-to item.link }}
              {{fa-icon item.icon}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="app-body row">
    <div class="app-body-container">
      {{outlet}}
    </div>
  </div>
</div>
