<div class="main-container column">
  <!--
  <div class="main-header">
    {{input type='text' value=search}}
    <ul>
      {{#each model.tasks as |task|}}
        <li>
          <span>
            {{task.name}}
          </span>
        </li>
      {{/each}}
    </ul>
  </div>
  -->
  <div class="main-body">
    <!--
    state: {{clock.state}}
    mode: {{clock.mode}}
    {{flip-clock clock=clock}}
    -->
  </div>
</div>


